.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
.astro/standalone/
.astro/worktrees/
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
.astro/*.local.yml
.astro/*.local.yaml
disnaker-api/
tb_penduduk (1).pdf
AGENTS.md
db_disnaker/

**/.astro/dbt_metadata.json
**/.astro/manifest.slim.json
